In [19]:
for x in range(1,65):
    arroz=2**x
print(arroz)

18446744073709551616